@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.hero{
    margin-top: 85px;
    background-image: 
    linear-gradient(to bottom, rgba(11, 26, 17, 0.7), rgba(16, 26, 17, 0.5), rgba(16, 26, 17, 0.3)), 
    url("../../assets/heroImg.jpg");
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: center ;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-div{
    /* max-width: 600px; */
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-div h1{
    font-size: 96px;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    color: #FFFFFF;
}
.hero-div h3{
    font-family: "Libre Baskerville", serif;
    font-size: 25px;
    font-weight: 500;
    color: transparent;
    background-image: linear-gradient(90deg, #F85A17 50%, #FFFFFF 50%);
    background-position:100%;
    background-size:200% 100%;
    background-clip:text;
    -webkit-background-clip:text; 
    transition: background-position 1s ease;
}
.hero-div h3:hover{
    background-position: 0;
}
.hero-div span{
    font-family: "Great Vibes", cursive;
    font-size: 35px;
    color: #F2420D;
    position: relative;
    display: inline-block;
    font-weight: 600;
    top: -1.8em; 
    transform: rotate(-25deg);
}
.btn-hero{
    margin-top: 6rem;
}

/* BREAKPOINTS */
/* For Medium Devices */
@media screen and (max-width: 819px) {
    .btn-hero{
        margin-top: 2rem;
        display:flex;
        
    }
    .hero-div h1{
        font-size: 80px;
    }
    .hero-div h3{
        font-size: 20px;
    }
}

/* SMALL SCREEN */
@media screen and (max-width: 630px) {
    .hero-div h1{
        font-size: 60px;
        /* padding-bottom: 0.5rem; */
    }
    .hero-div h3{
        font-size: 15px;
    }
    .hero-div span{
        top: -1em;
    }
}

@media screen and (max-width: 400px) {
    .hero-div h1{
        font-size: 40px;
        font-weight: 500;
    }
    .hero-div h3{
        font-size: 13px;
    }
    .hero-div span{
        top: -0.5em;
        font-size: 25px;
    }
    .hero-div{
        gap: 1rem;
    }
}