.our-journey-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  position: relative; /* To position the leaf image */
  background-color: #F3FAF5;
  width: 100%;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  margin-top: 7rem;
  /* border: 2px solid yellow; */

}

.leaf-decor {
  position: absolute;
  top: -7rem;
  left: 0;
  width: 400px;
  height: auto;
  /* border: 2px solid blue; */
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 10px; */
  width: 100%;
}

.text-section {
  flex: 1;
  text-align: left;
  margin-left: 4.5rem;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.section-text {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  max-width: 70%;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.journey-image {
  width: 100%;
  height: auto;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


@media (min-width: 767px) and (max-width: 1024px) {

  .our-journey-container{
    border: 2px solid blue;
    width: 100vw;
    margin-top: 6rem;
    display: flex;
    /* flex-direction: column; */
  }
  .leaf-decor {
    width: 150px; 
    left: -1rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .section-text {
    font-size: 0.9rem;
    line-height: 1.4;
    max-width: 200px;
  }

  .journey-image {
    max-width: 200px;
    margin-top: 50rem; 
  }

  .text-section{
    max-width: 100%;
    
    border: 2px solid red;
  }

}
@media (max-width: 768px) {
  .content {
    flex-direction: column; 
    text-align: center;
    gap: 30px;
  }

  .text-section {
    text-align: center;
    margin-left: 0; 
    padding: 0 20px; 
  }

  .leaf-decor {
    width: 200px;
    top: -2rem;
    left: -1rem;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .section-text {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {

  .our-journey-container{
    width: 100vw;
    margin-top: -3rem;
  }
  .leaf-decor {
    width: 150px; 
    left: -1rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .section-text {
    font-size: 0.9rem;
    line-height: 1.4;
  }

  .journey-image {
    max-width: 200px; 
  }
}
