@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



.testimonials-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  gap: 2rem;
}
.testimonial-card{
  /* width: 430px; */
  /* height: 390px; */
  background-color: rgba(37, 86, 55, 1) ;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  justify-content: space-around;
  padding: 1rem;
  gap: 2rem;
}
.testimonial-card p{
    font-family: "Outfit", sans-serif;
    line-height: 1.6rem;
} 
.testimonials{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.testimonial-card .testimonial-img{
  width: 70px;
  height: 70px;
}
.testimonial-quote{
  height: 80px;
  width: 70px;
}