body {
  background-color: #ffff;
}

.carousel-container {
  width: 100%;
  margin: 0 auto;
  /* height: 350px; */
  background: #ffff;
  /* border: 2px solid blue; */
  padding-left: 1.2rem;
  padding-top: 10px;
  padding-bottom: 6rem;
  overflow: hidden;
}

.slide img {
  width: 100%;
    height: 450px;
    border-radius: 10px; 
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    padding-right: 30px; 
}

@media (min-width: 483px) and (max-width: 900px) {

.carousel-container{
  margin-top: -10rem;


 padding: 0;
 height: 100%;
}

.slide img{
  height: 400px;
}
}



@media (min-width: 901px) and (max-width: 1179px) {

  .slide img{
    height: 400px;
  }

}



@media  (max-width: 482px){
.carousel-container{
  margin-top: rem;

 padding: 0;
 height: 100%;
}
  .slide img{
    height: 470px;
   
    
  }
}


@media (max-width:389px){
  .carousel-container{
    margin-top: 2rem;

  }

}




/* @media (min-width: 770px) and (max-width: 1200px) {
.carousel-container{
  margin-top: -20rem;
}
} */

/* 
@media (max-width: 767px) {
  .carousel-container {

    margin-left: 0.6rem;
    
    margin: 0 auto;
    
    background-color: #ffff;
    /* margin-bottom: 4rem; */
    /* padding-left: 0.5px; */
  

  .slide img {
    height: 250px;
    object-fit: cover; 
  }


@media (max-width: 480px) {
  .carousel-container {
    width: 100%;
    padding: 0;
  }

  .slide img {
    height: 200px;
    object-fit: cover; 
  }
} 