  .cultural-significance{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .title-section {
    display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
    /* margin-bottom: 20px;
     */
     /* margin-top: 8rem; */
=======
     margin-top: 8rem;
>>>>>>> c1748cc019dab24270e1f2b5cc159dd9190fcdde
  }
  
  .decorative-icon {
    width: 400px; 
    margin: 0 10px;
  }
  

  
  .description {
    margin-top: 5rem;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    max-width: 600px;
    margin: 0 auto; 
    padding-top: 2rem;
    text-align: center;
  }
  
  @media  (max-width: 482px){

  }
.decorative-icon{
  width: 15rem;
}

  @media (min-width: 483px) and (max-width: 609px) {
body{
  margin-top: 4rem;
}
  }